@font-face{
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-Medium.ttf");
}

*{
	font-family: "Poppins";
}

@font-face{
	font-family: "Poppins-Bold";
	src: url("../font/Poppins/Poppins-Bold.ttf")
}

@font-face{
	font-family: "Poppins-Regular";
	src: url("../font/Poppins/Poppins-Regular.ttf")
}

@font-face{
	font-family: "Poppins-Light";
	src: url("../font/Poppins/Poppins-Light.ttf")
}