*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: black;
	color: white;
}

/* Landing Page: Navigatie Sectie */
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #000000;
	padding: 20px;
}

.nav-links{
	display: flex;
	text-transform: uppercase;
	justify-content: space-around;
	width: 40%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.nav-links a:hover{
	text-decoration: underline;
}

/* Landing Page: Hero Image Sectie */
.hero-image{
	position: relative;
	height: 400px;
	overflow: hidden;
	background: url(../content/bieren/Overzicht.jpg) no-repeat center;
	background-size: cover;
}

.container{
	position: absolute;
	width: 550px;
	height: 400px;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	background-color: black;
}

.container .text-container{
	max-width: 550px;
	height: 400px;
	overflow: hidden;
	align-items: center;
	text-align: left;
	padding: 50px;
}

.container .text-container h1{
	font-family: "Poppins-Bold";
	font-size: 50px;
	text-transform: uppercase;
}

.des{
	display: block;
	padding-top: 40px;
	padding-bottom: 70px;
	font-size: 15px;

}

a{
	font-size: 17px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


/* Landing Page: Nieuwsbrief Sectie*/
.newsletter-container{
	position: relative;
	height: 300px;
	width: 100%;
	text-align: center;
	background-color: #0A0A0A;
	margin-top: 40px;
}

.newsletter-container .text-newsletter{
	padding-top: 50px;
}

.newsletter-container .text-newsletter h1{
	font-family: "Poppins-Bold";
	font-size: 50px;
	text-transform: uppercase;
}

.newsletter-container .text-newsletter p{
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 40px;
}

#nieuwsbrief{
	background: none;
	border: 1px solid white;
	padding: 10px 30px;
	font-family: "Poppins";
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.4s linear;
}

#nieuwsbrief:hover{
	color: black;
	background: white;
}

/* Landing Page: Over ons + Rondleiding Sectie*/
.container2{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.container3{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	width: 475px;
	height: 300px;
	background: white;
	margin: 40px;
}

#over-ons{
	background: url(../content/unsplash/pouringbeer.jpg) no-repeat center;
	background-size: 475px 300px;
}

#rondleiding{
	background: url(../content/unsplash/beerindustry.jpg) no-repeat center;
	background-size: 475px 300px;
}

.container2 .container3 .over-ons-text a{
	font-size: 50px;
	font-family: "Poppins-Bold";
}

.container2 .container3 .rondleiding-text a{
	font-size: 50px;
	font-family: "Poppins-Bold";
}	

/* Landing Page: Contact Sectie*/
.container4{
	position: relative;
	height: 400px;
	overflow: hidden;
}

#contact-image{
	position: absolute;
	width: 50%;
	height: 400px;
	background: url(../content/unsplash/guyb&w.jpg) no-repeat center;
	background-size: 100% 500px;
	left: 50%;
}

.contact-container{
	width: 50%;
	height: 400px;
	background: #0A0A0A;
}

.contact-container .contacttext-container{
	max-width: 700px;
	height: 400px;
	overflow: hidden;
	align-items: center;
	text-align: left;
	padding: 70px;
}

.contact-container .contacttext-container h1{
	font-family: "Poppins-Bold";
	font-size: 50px;
	text-transform: uppercase;
	padding-bottom: 60px;
}

/* Landing Page: Footer / Sociale Media Sectie */
footer{
	text-align: center;
	height: 150px;
	background: #0D0D0D;
	margin-top: 190px;
}

.location-container p{
	font-family: "Poppins-Light";
	font-size: 10px;
	color: grey;
	padding-top: 50px;
}

footer .socialmedia-container ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .socialmedia-container ul li{
	list-style: none;
	padding: 10px;
	color: #797A7E;
	cursor: pointer;
}


/* Bieren Page: Hero Image Sectie */
.hero-image-onze-bieren{
	position: relative;
	height: 400px;
	overflow: hidden;
	background: url(../content/unsplash/onzebieren.jpg) no-repeat center;
	background-size: cover;
}

/* Bieren Page: Titel + Text Sectie */
.onzebieren-container{
	position: relative;
	height: 250px;
	width: 35%;
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

.onzebieren-container .onze-bieren-text-newsletter{
	padding-top: 50px;
}

.onzebieren-container .onze-bieren-text-newsletter h1{
	font-family: "Poppins-Bold";
	font-size: 50px;
	text-transform: uppercase;
}

.onzebieren-container .onze-bieren-text-newsletter p{
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 40px;
}

/* Bieren Page: Verscheidenheid van bieren in grid sectie */
.onzebieren-container2{
	display: flex;
	justify-content: center;
}

.onzebieren-container3{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin-left: 30px;
}

.onzebieren-container4{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	width: 350px;
	height: 650px;
	background: white;
	margin: 0px 20px 0 20px;
}


#ref5resh{
	background: url(../content/bieren/refresh.jpg) no-repeat center;
	background-size: 350px 500px;
}

#bruteforce{
	background: url(../content/bieren/bruteforce.jpg) no-repeat center;
	background-size: 350px 500px;
}

#anykey{
	background: url(../content/bieren/anykey.jpg) no-repeat center;
	background-size: 350px 500px;
}

#ddos{
	background: url(../content/bieren/ddos.jpg) no-repeat center;
	background-size: 350px 500px;
}

#wildcard{
	background: url(../content/bieren/wildcard.jpg) no-repeat center;
	background-size: 350px 500px;
}

#rsi{
	background: url(../content/bieren/rsi.jpg) no-repeat center;
	background-size: 350px 500px;
}

#firewire{
	background: url(../content/bieren/firewire.jpg) no-repeat center;
	background-size: 350px 500px;
}

.onzebieren-container3 .onze-bieren-text{
	position: absolute;
	bottom: 0;
}


.onzebieren-container2 .onzebieren-container3 .onze-bieren-text a{
	font-size: 17px;
	font-family: "Poppins-Bold";
}

.onzebieren-container2 .onzebieren-container3 .onze-bieren-text p{
	font-size: 15px;
	font-family: "Poppins-Light";
}

/* Brouwerij page: Hero image sectie */
.hero-image-brouwerij{
	position: relative;
	height: 400px;
	overflow: hidden;
	background: url(../content/team-kwartje-nieuw.png) no-repeat center;
	background-size: cover;
}

/* Brouwerij page: Titel Text Sectie */
.brouwerij-container{
	position: relative;
	height: 350px;
	width: 39%;
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

.brouwerij-container .brouwerij-text-container{
	padding-top: 50px;
}

.brouwerij-container .brouwerij-text-container h1{
	font-family: "Poppins-Bold";
	font-size: 50px;
	text-transform: uppercase;
}

.brouwerij-container .brouwerij-text-container p{
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 40px;
}

/* Geschiedenis Sectie*/
.geschiedenis-image{
	position: relative;
	width: 100%;
	height: 400px;
	background: url(../content/unsplash/geschiedenis.jpg);
	background-size: 60% 400px;
}

/* Naam Sectie*/
.naam-image{
	position: relative;
	width: 100%;
	height: 400px;
	background: url(../content/unsplash/guyb&w.jpg);
	background-size: 50% 500px;
}

/* Rondleiding Reserveren Sectie*/
.rondleiding-link-image{
	position: relative;
	height: 200px;
	overflow: hidden;
	background: url(../content/unsplash/pouringbeer.jpg) no-repeat center;
	background-size: cover;
	margin-top: 175px;
}

.rondleiding-link-image a{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	font-size: 50px;
	font-family: "Poppins-Bold";
}

.hero-image-rondleiding{
	position: relative;
	height: 400px;
	overflow: hidden;
	background: url(../content/unsplash/rondleiding.jpg) no-repeat center;
	background-size: cover;
}

.rondleiding-container{
	position: relative;
	height: 350px;
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

.rondleiding-container .brouwerij-text-container{
	padding-top: 50px;
}

.rondleiding-container .brouwerij-text-container h1{
	font-family: "Poppins-Bold";
	font-size: 50px;
	text-transform: uppercase;
}

.rondleiding-container .brouwerij-text-container p{
	width: 70%;
	margin: auto;
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 40px;
}










