*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: black;
	color: white;
}

/* Landing Page: Navigatie Sectie */
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #000000;
	padding: 20px;
}

.nav-links{
	display: flex;
	text-transform: uppercase;
	justify-content: space-around;
	width: 40%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.nav-links a:hover{
	text-decoration: underline;
}

/* Landing Page: Hero Image Sectie */
.hero-image{
	position: relative;
	height: 400px;
	overflow: hidden;
	background: url(../content/bieren/Overzicht.jpg) no-repeat center;
	background-size: cover;
}

.container{
	position: absolute;
	width: 600px;
	height: 400px;
	top: 50%;
	left: 80%;
	transform: translate(-50%, -50%);
	background-color: black;
}

.container .text-container{
	max-width: 550px;
	height: 400px;
	overflow: hidden;
	align-items: center;
	text-align: left;
	padding: 50px;
}

.container .text-container h1{
	font-family: "Poppins-Bold";
	font-size: 50px;
	text-transform: uppercase;
}

.des{
	display: block;
	padding-top: 40px;
	padding-bottom: 70px;
	font-size: 15px;

}

a{
	font-size: 17px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


/* Landing Page: Nieuwsbrief Sectie*/
.newsletter-container{
	position: relative;
	height: 300px;
	width: 100%;
	text-align: center;
	background-color: #0A0A0A;
	margin-top: 40px;
}

.newsletter-container .text-newsletter{
	padding-top: 50px;
}

.newsletter-container .text-newsletter h1{
	font-family: "Poppins-Bold";
	font-size: 50px;
	text-transform: uppercase;
}

.newsletter-container .text-newsletter p{
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 40px;
}

#nieuwsbrief{
	background: none;
	border: 1px solid white;
	padding: 10px 30px;
	font-family: "Poppins";
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.4s linear;
}

#nieuwsbrief:hover{
	color: black;
	background: white;
}

/* Landing Page: Over ons + Rondleiding Sectie*/
.container2{
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

}

.container3{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	width: 475px;
	height: 300px;
	background: white;
	margin: 40px;

}

#over-ons{
	background: url(../content/unsplash/pouringbeer.jpg) no-repeat center;
	background-size: 475px 300px;
}

#rondleiding{
	background: url(../content/unsplash/beerindustry.jpg) no-repeat center;
	background-size: 475px 300px;
}

.container2 .container3 .over-ons-text a{
	font-size: 50px;
	font-family: "Poppins-Bold";
}

.container2 .container3 .rondleiding-text a{
	font-size: 50px;
	font-family: "Poppins-Bold";
}	
















